$mainColor: #37cf9f;
.map-box {
  height: calc(100vh - 169px);
  position: relative;
  overflow: hidden;

  .bm-view {
    width: 100%;
    height: 100%;
  }

  .filter-box {
    position: absolute;
    right: 0;
    top: 50%;
    width: 608px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 42px 30px 42px 42px;
    border-radius: 15px 0 0 15px;
    transition: .5s;
    transform: translateY(-50%);

    .close-box {
      position: absolute;
      width: 14px;
      height: 165px;
      background-image: url(../../../static/images/mapSearchClose.png);
      left: 0;
      top: calc(50% - 82.5px);
      cursor: pointer;
      transition: .3s;

      &::after {
        position: absolute;
        content: '';
        width: 5px;
        height: 7px;
        left: calc(50% - 2.5px);
        top: calc(50% - 3.5px);
        background-image: url(../../../static/images/mapSearchCloseBtn.png);
      }
    }

    .towns-box {
      width: 330px;
      padding: 0 25px;
      border-radius: 10px;
      background-color: #fff;

      .name {
        color: #333;
        font-size: 20px;
        line-height: 52px;
      }

      .citySelect {
        width: 180px;
        color: #666;
        font-size: 20px;
        vertical-align: baseline;
        background: url(../../../static/images/selectBtn.png) right center no-repeat;
        border: none;
        margin-left: 54px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .feature-box {
      padding: 0 25px;
      border-radius: 10px;
      background-color: #fff;

      .name {
        color: #333;
        font-size: 20px;
        line-height: 52px;
        margin-right: 32px;
      }

      .village-classify-list {
        font-size: 18px;
        color: #999;
        display: inline-block;
        padding: 0 13px;
        line-height: 41px;
        margin: 0 3px;
        border-radius: 4px;
        position: relative;
        cursor: pointer;

        &.active {
          color: #fff;
          background-color: $mainColor;

          &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            background-image: url(../../../static/images/villageClassifyClose.png);
            right: 4px;
            top: 4px;
          }
        }
      }
    }

    .search-box {
      padding: 0 25px;
      border-radius: 10px;
      background-color: #fff;

      .name {
        color: #333;
        font-size: 20px;
        line-height: 52px;
        margin-right: 34px;
      }

      .search-input {
        width: 358px;
        border: none;

        &:focus{
          outline: none;
        }
      }

      .search-btn {
        display: inline-block;
        vertical-align: baseline;
        cursor: pointer;

        img {
          display: inline-block;
          vertical-align: top;
        }
      }
    }

    .search-result, .hot-recommend {
      padding: 0 25px;
      border-radius: 10px;
      background-color: #fff;
      position: relative;

      &:last-child {
        margin-top: 1rem;
      }

      .name {
        color: #333;
        font-size: 20px;
        line-height: 52px;
        margin-right: 34px;
      }

      .swiper-container {
        .img-box {
          width: 100%;
          height: 104px;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          border: 2px solid transparent;
          transition: .3s;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: url(../../../static/images/moreBtn.png) no-repeat center;
            top: 0;
            left: 0;
            opacity: 0;
            transition: .3s;
          }
        }

        .list-name {
          font-size: 16px;
          text-align: center;
          color: #333;
          line-height: 2em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: .3s;
        }

        .swiper-slide {
          &:hover {
            .img-box {
              border: 2px solid $mainColor;

              &::after {
                opacity: 1;
              }
            }

            .list-name {
              color: $mainColor;
            }
          }
        }
      }
    }
  }

  .filter-box-close {
    transform: translate(100%, -50%);

    .close-box {
      left: -14px;
      transform: rotateY(180deg);
    }
  }
}

.swiper-pagination {
  top: 12px;
  right: 46px;
}

.swiper-button-prev {
  background-image: url(../../../static/images/swiperBtnPrev.png);
  width: 15px;
  height: 17px;
  margin: 0;
  top: 17px;
  left: initial;
  right: 120px;

  &:focus {
    outline: none;
  }

  &:after {
    display: none;
  }
}

.swiper-button-next {
  background-image: url(../../../static/images/swiperBtnNext.png);
  width: 15px;
  height: 17px;
  margin: 0;
  top: 17px;
  right: 17px;

  &:focus {
    outline: none;
  }

  &:after {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .map-box {
    height: calc(100vh - 72px);

    .filter-box {
      padding: 10px 10px 10px 20px;
      max-width: 100vw;

      .towns-box {
        width: auto;
        padding: 0 15px;
        margin-bottom: 10px;

        .name {
          font-size: 14px;
          line-height: 40px;
        }

        .citySelect {
          margin-left: 20px;
          font-size: 14px;
        }
      }

      .feature-box {
        padding: 0 15px;
        margin-bottom: 10px;

        .name {
          font-size: 14px;
          margin-right: 10px;
          line-height: 40px;
        }

        .village-classify-list {
          padding: 2px 4px;
          font-size: 14px;
          line-height: 1.3em;

          &.active {
            &::after {
              right: 1px;
              top: 1px;
              transform: scale(0.6);
            }
          }
        }
      }

      .search-box {
        padding: 0 15px;
        margin-bottom: 10px;

        .name {
          font-size: 14px;
          line-height: 40px;
        }

        .search-input {
          width: auto;
        }

        .search-btn {
          transform: scale(0.7);
        }
      }

      .search-result, .hot-recommend {
        padding: 0 15px;
        margin-bottom: 10px;

        p {
          margin-bottom: 0;
        }

        .name {
          font-size: 14px;
          line-height: 40px;
        }

        .swiper-container {
          .img-box {
            height: 67px;
          }

          .list-name {
            font-size: 12px;
          }
        }
      }
    }
  }
}
