.village-box {
  width: 100%;
  height: calc(100vh - 170px);
  position: relative;
  overflow: hidden;
}

.village-banner {
  height: 100%;

  .swiper-slide {
    .img-box {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.village-thumbs-box {
  position: absolute;
  left: 0;
  bottom: 95px;
  width: 830px;
  height: 126px;

  .village-thumbs {
    height: 100%;

    .swiper-slide {
      .img-box {
        width: 100%;
        height: 100%;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          left: 0;
          top: 0;
        }
      }

      &.swiper-slide-thumb-active {
        .img-box {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.village-banner-prev {
  top: initial;
  left: 40px;
  bottom: 0;
  width: 80px;
  height: 95px;

  &:hover {
    background-color: #37cf9f;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../../../static/images/prevBtn.png) center no-repeat;
  }
}

.village-banner-next {
  top: initial;
  left: 120px;
  bottom: 0;
  width: 80px;
  height: 95px;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../../../static/images/nextBtn.png) center no-repeat;
  }

  &:hover {
    background-color: #37cf9f;
  }
}

.content-box {
  position: absolute;
  z-index: 2;
  width: 640px;
  left: 0;
  top: 140px;
  transition: .5s;

  .close-btn {
    position: absolute;
    width: 8px;
    height: 119px;
    background-image: url(../../../static/images/villageCloseBtn.png);
    top: calc(50% - 59.5px);
    right: 0;
    cursor: pointer;
    transition: .5s;
  }

  &.content-box-close {
    //transform: translateX(-100%);

    .close-btn {
      right: -8px;
      transform: rotateY(180deg);
    }

    .details-box {
      transform: translateX(-100%);
    }
  }

  .icon-box {
    width: 80px;
    float: left;
    height: 324px;
    background-color: #f1f1f1;
    z-index: 3;
    position: relative;

    .icon-list {
      height: 108px;
      margin: 0;
      position: relative;
      cursor: pointer;
      overflow: hidden;


      &::after {
        position: absolute;
        content: '';
        width: 80%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.32);
        left: 10%;
        bottom: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      .icon {
        display: inline-block;
        width: 100%;
        height: 37px;
        margin-top: 24px;
        //transform: scale(1.25);
      }

      .text {
        display: inline-block;
        width: 100%;
        color: #333;
        font-size: 14px;
        text-align: center;
        line-height: 1em;
      }
    }
  }

  .details-box {
    width: 560px;
    height: 324px;
    background: url(../../../static/images/villageContentBg.jpg) right top no-repeat;
    float: left;
    padding: 45px 38px 0 48px;
    border-radius: 0 6px 6px 0;
    transition: .4s;
    z-index: 1;

    .name {
      font-size: 40px;
      color: #333333;
      line-height: 1em;
    }

    .address {
      font-size: 16px;
      color: #999999;
      line-height: 1em;
      margin-left: 30px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 12px;
        height: 16px;
        background-image: url(../../../static/images/addressIcon.png);
        top: calc(50% - 8px);
        right: -20px;
      }
    }

    .tag {
      font-size: 14px;
      color: #999999;
      line-height: 1em;
      margin-right: 10px;
    }

    .classify {
      font-size: 18px;
      display: inline-block;
      color: #555;
      line-height: 32px;
      background-color: #f1f1f1;
      padding: 0 14px;
      border-radius: 4px;
      margin-right: 14px;
    }

    .intro {
      font-size: 14px;
      color: #666;
      text-indent: 2em;
      display: inline-block;
      text-indent: 2em;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .more {
      color: #37cf9f;
      font-size: 14px;
    }
  }
}

.panorama-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ccc;

  .panorama-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 25px;
    cursor: pointer;
    z-index: 4;
    pointer-events: auto;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #37cf9f;
      transform: rotate(45deg);
      transform-origin: center;
      top: 15px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #37cf9f;
      transform: rotate(-45deg);
      transform-origin: center;
      top: 15px;
    }
  }

  .tips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .panorama-box {
    .panorama-close {
      display: none;
    }
  }
  .village-thumbs-box {
    display: none;
  }
  .village-box {
    height: calc(100vh - 72px);
  }
  .village-banner-next {
    width: 40px;
    height: 40px;
    left: 40px;

    &:focus {
      outline: none;
    }

    &::after {
      background-size: 10px;
    }
  }
  .village-banner-prev {
    width: 40px;
    height: 40px;
    left: 0;

    &:focus {
      outline: none;
    }

    &::after {
      background-size: 10px;
    }
  }
  .content-box {
    width: auto;
    top: 20%;
    pointer-events: none;

    &.content-box-close {
      transform: rotateY(0);

      .details-box {
        transform: translateX(-100%);
      }
    }

    .details-box {
      position: relative;
      z-index: 1;
      padding: 20px;
      width: calc(100vw - 70px);
      height: 255px;
      transition: .5s;
      background: #fff;
      pointer-events: auto;

      .name {
        font-size: 26px;
      }

      .address {
        font-size: 12px;
      }

      .tag {
        font-size: 12px;
      }

      .classify {
        font-size: 12px;
        margin-right: 10px;
        padding: 0 5px;
        line-height: 18px;
      }

      .intro {
        font-size: 12px;
      }
    }

    .close-btn {
      z-index: 3;
    }

    .icon-box {
      width: 70px;
      height: auto;
      position: relative;
      z-index: 2;
      pointer-events: auto;

      .icon-list {
        height: 85px;

        .icon {
          transform: scale(0.8);
          margin-top: 10px;
        }

        .text {
          font-size: 14px;
        }
      }
    }
  }
}
